**/build/
**/gradlew
**/gradlew.bat
**/.gradle/
*.iml
**/.idea/
**/gradle/
**/src/generated/
/core/api/dokka/core/
/api/dokka/fritz2/alltypes.md
/api/dokka/fritz2/index.md
/api/dokka/fritz2/package-list
