{% set navPages = collections.all | eleventyNavigation %}
<div class="flex-grow flex flex-col">

    <nav class="flex-1 bg-white space-y-1" aria-label="Sidebar">
        {% for entry in navPages %}
            {% include "components/navigationLink.njk" %}
            {% for entry in entry.children %}
                {% set indent = "pl-12" %}
                {% include "components/navigationLink.njk" %}
            {% endfor %}
        {% endfor %}
</nav>
</div>
