{% set isCurrent = true if eleventyNavigation.key === entry.key else false %}
<!-- Current: "bg-indigo-50 border-indigo-600 text-indigo-600", Default: "border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
{% set anchorColors = "bg-indigo-50 border-indigo-600 text-indigo-600" if isCurrent else "border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900" %}
<a href="{{entry.url}}"
   class="{{indent}} {{anchorColors}} group flex items-center px-3 py-2 text-sm font-medium border-l-4">
    <!--
      Heroicon name: outline/home

      Current: "text-indigo-500", Default: "text-gray-400 group-hover:text-gray-500"
    -->
    {% set iconColors = "text-indigo-500" if isCurrent else "text-gray-400 group-hover:text-gray-500" %}
    <svg class="{{iconColors}} mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
    </svg>
    {{entry.title}}
</a>
