<div class="bg-white shadow overflow-hidden sm:rounded-md">
<ul role="list" class="divide-y divide-gray-200">
    {% for post in postslist %}
    <li>
        <a href="{{ post.url | url }}" class="block hover:bg-gray-50">
            <div class="flex items-center px-4 py-4 sm:px-6">
                <div class="min-w-0 flex-1 flex items-center">
                    <div class="flex-shrink-0">
                        <img class="h-12 w-12 rounded-full"
                             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                             alt="">
                    </div>
                    <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                        <div>
                            <p class="text-lg font-medium text-indigo-600 truncate">{{ post.data.title }}</p>
                            <p class="mt-2 flex items-center text-sm text-gray-500">
                                <span class="truncate">{{ post.data.description }}</span>
                            </p>
                        </div>
                        <div class="hidden md:block">
                            <div>
                                <p class="text-sm text-gray-900">
                                </p>
                                <p class="mt-2 flex items-center text-sm text-gray-400">
                                    <span>published on &nbsp;</span>
                                    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- Heroicon name: solid/chevron-right -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
