<div
    class="fixed lg:block top-0 right-0 pt-16 h-full hidden pr-4 sm:pr-6 lg:pr-8 lg:pr-2">
    <div class="w-64 h-full overscroll-none overflow-y-auto pl-6 py-6">
        <!-- Start right column area -->
        <div class="h-full relative" style="min-height: 16rem;">

            <h2 class="text-sm font-bold capitalize text-fg-highlight mb-4">On this Page</h2>

            {{content | toc | safe}}

        </div>
        <!-- End right column area -->
    </div>
</div>
