<div
    class="hidden lg:block max-w-4xl bg-bg pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-bg-highlight xl:pr-0">
    <div class="h-full pl-6 py-6 lg:w-64">
        <!-- Start right column area -->
        <div class="h-full relative" style="min-height: 16rem;">

            <h2 class="text-sm font-bold capitalize text-fg-highlight mb-4">On this Page</h2>

            {{content | toc | safe}}

        </div>
        <!-- End right column area -->
    </div>
</div>
