@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    outline: 0;
}

@layer components {
    .content h1 {
        @apply text-fg-highlight mb-8 text-3xl font-extrabold tracking-tight
    }

    .content h2 {
        @apply text-fg-highlight mt-8 mb-4 text-2xl font-bold leading-6
    }

    .content h3 {
        @apply text-fg-highlight mt-8 mb-4 text-xl font-bold leading-6
    }

    .content p {
        @apply mb-3 text-base text-relaxed leading-7
    }

    .content ul {
        @apply list-disc mb-3 text-base text-relaxed leading-7
    }

    .content li {
        @apply ml-6 text-base text-relaxed leading-7
    }

    .content a {
        @apply text-fg-highlight text-base underline
    }

    .content code:not([class]) {
        @apply text-relaxed-highlight bg-bg-highlight rounded px-1.5 py-1 text-sm
    }

    .content table {
        @apply w-full
    }

    .content th {
        @apply font-semibold text-sm text-fg-highlight text-left leading-7 py-2
    }

    .content tr {
        @apply border-b border-fg leading-7
    }

    .content td {
        @apply text-sm text-relaxed leading-7 py-2 pr-2
    }

    .content kbd {
        @apply py-1 px-2 bg-gray-500 text-sm text-gray-50 rounded
    }

    nav.toc a {
        @apply block py-2 rounded-md text-sm text-relaxed hover:text-relaxed-highlight
    }
}

body {
    -webkit-font-smoothing: antialiased;
}

pre {
    font-size: 0.85em !important;
}
