---
title: Blog
layout: layouts/pageWithNav.njk
permalink: /blog/
eleventyNavigation:
  key: blog
  title: Blog
  order: 30
  icon: newspaper
  classes: "font-bold capitalize"
---
<div class="relative content my-8 mx-12">
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
</div>
