<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="p-12">
      <h1 class="text-3xl mb-8">{{title}}</h1>

      <p>{{teaser}}</p>

      <iframe class="w-full h-96" src="/{{ hugo }}/build/distributions/index.html"></iframe>

      {{ content | safe }}

    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
