---
layout: layouts/pageWithNav.njk
---

<div class="bg-bg lg:min-w-0 flex-1 h-full">
  <div class="h-full py-6 px-5 sm:px-6 lg:px-8 h-full overscroll-none overflow-y-auto bg-bg">
    <!-- Start main area-->
    <div class="relative content">

      <h1>{{title}}</h1>

      {{ content | safe }}

    </div>
    <!-- End main area -->
  </div>
</div>

{% include "components/toc.njk" %}
