---
layout: layouts/pageWithNav.njk
---

<div class="bg-bg md:min-w-0 md:flex-1 h-full">
  <div class="h-full py-6 px-5 sm:px-6 lg:px-8 h-full overscroll-none overflow-y-auto bg-bg lg:pr-72">
    <!-- Start main area-->
    <div class="relative content prose prose-invert max-w-prose pb-12">

      <h1>{{title}}</h1>

      {% if teaser %}
        <p>{{teaser}}</p>
      {% endif %}

      {% if demoHash %}
        <iframe class="w-full h-96 rounded-md" src="/headless-demo/index.html#{{demoHash}}"></iframe>
      {% endif %}

      {{ content | safe }}

    </div>
    <!-- End main area -->
  </div>
</div>

{% include "components/toc.njk" %}