---
layout: layouts/pageWithNav.njk
---

<div class="bg-bg md:min-w-0 md:flex-1 h-full">
  <div class="h-full py-6 px-5 sm:px-6 lg:px-8 h-full overscroll-none overflow-y-auto bg-bg lg:pr-72">
    <!-- Start main area-->
    <div class="relative content prose prose-invert max-w-prose">

      <h1>{{title}}</h1>

      <p>{{teaser}}</p>

      <iframe class="w-full h-96" src="/headless-demo/index.html#{{demoHash}}"></iframe>

      {{ content | safe }}

    </div>
    <!-- End main area -->
  </div>
</div>

{% include "components/toc.njk" %}
