---
layout: layouts/pageWithNav.njk
---

<div class="bg-white lg:min-w-0 lg:flex-1">
  <div class="h-full py-6 px-4 sm:px-6 lg:px-8">
    <!-- Start main area-->
    <div class="relative h-full content" style="min-height: 36rem;">

      <h1>{{title}}</h1>

      <p>{{teaser}}</p>

      <iframe class="w-full h-96" src="/build/distributions/index.html#{{demoHash}}"></iframe>

      {{ content | safe }}

    </div>
    <!-- End main area -->
  </div>
</div>
</div>

<div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0">
  <div class="h-full pl-6 py-6 lg:w-80">
    <!-- Start right column area -->
    <div class="h-full relative" style="min-height: 16rem;">

      <h2 class="text-sm font-medium text-gray-600 mt-0 mb-2">On this Page</h2>

      {{ content | toc | safe }}

    </div>
    <!-- End right column area -->
  </div>
</div>
