<html lang="en">
  <head>
    <title>xxx {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body>
    {{ content | safe }}
    <script src="/assets/main.js"></script>
  </body>
</html>
