<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Inter:200,300,400" rel="stylesheet"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    {% if description %}
        <meta name="description" content="{{ description }}">
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    {% if author %}
        <meta name="author" content="{{ author }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/prism-dracula.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#333333">
</head>
<body class="bg-bg font-sans">

{{ content | safe }}

<script src="/assets/main.js"></script>
<script src="/assets/mobile-menu.js"></script>
</body>
</html>
