on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-13
        with:
          args: test
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-13
        with:
          args: build